.section-title {
  letter-spacing: var(--mat-table-header-headline-tracking);
  font-weight: bold;
  padding-left: 20px;
  letter-spacing: 3px;
}

.year {
  padding-left: 20px;
  font-weight: bold;
  background-color: ghostwhite;
}

.th-head {
  margin: 0;
  background-color: ghostwhite;
  letter-spacing: var(--mat-table-header-headline-tracking);
  font-weight: bold;
  padding-left: 20px;
}

.tables-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mat-mdc-row:hover {
  background-color: rgb(225, 225, 240);
}
