:host{
    height: 100%;
    background-color: rgb(217, 181, 138);
    width: 100%;
}

.drawer-container {
height: 100%; ;
  }

  .btns-container{
    background-color: rgb(0, 26, 255);
    max-width: 250px;
    
  }

.content{
    background-color: aqua;
}


